.sendMail {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: #404040;
    width: 50%;
    height: 70%;
    max-width: 500px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    border-bottom: none;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}

.sendMail_header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.sendMail_header > h3 {
    color: white;
    font-size: 13px;
}

.sendMail_send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 16px !important;
    color: white !important;
}

.sendMail_close{
    cursor: pointer;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 8px;
    background-color: white;
}

.sendMail > form > input {
    height: 24px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendMail_message {
    flex: 1;
    outline: none;
    border: none;
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.sendMail_error {
    text-align: right;
    color: red;
    padding: 2px;
    background-color: white;
    font-size: 12px;
}